@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 360px;
    height: 70px;
    background: #ffffff;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.login-form .form-head {
    z-index: 40;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background: #f50057;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: .2s ease-in;
}

.login-form .form-head .text {
    display: none;
}

.login-form .form-head .text::before {
    font-family: 'Open Sans', sans-serif;
}

.login-form .form-body {
    overflow: hidden;
    height: 70px;
    border-radius: 50px;
}

.login-form .form-body .error-text{
    z-index: 25;
    display: none;
    position: absolute;
    top: 4px;
    left: 80px;
    font-size: 10px;
    font-weight: 600;
    color: #b71c1c;
}

.login-form .form-body .form-controls {
    z-index: 5;
    position: relative;
    top: 0;
    transition: .2s ease-in;
}

.login-form .form-body .form-controls input {
    display: block;
    width: 100%;
    height: 70px;
    padding: 10px 60px 10px 80px;
    font-size: 18px;
    color: #666;
    border: none;
    border-radius: 50px;
}

.login-form .form-body .form-controls input:focus{
    outline: none;
}

.login-form .form-action {
    z-index: 50;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 50px;
    height: 50px;
    background: #fefefe;
    color: inherit;
    text-align: center;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transform: translateY(-50%);
    transition: .3s;
}

.login-form .form-action:hover {
    background: #f9f9f9;
}

.login-form .form-action .icon-action {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    transition: .2s ease-in;
}

.login-form .form-action .icon-action::after {
    line-height: 50px;
    content: "\f061";
}

.login-form#login .form-action .icon-action::after {
    display: none;
}

.login-form .form-action .icon-action.back {
    transform: rotate(180deg);
}

.icon-placeholder {
    font-size: 15px;
    line-height: 70px;
}

.login-form#login {
    width: 100px;
    color: #ffffff;
}

.login-form#login .form-head {
    top: -38px;
    left: -20%;
    width: 150px;
    height: 150px;
    font-size: 30px;
    border-radius: 100%;
}

.login-form#login .form-head .icon-placeholder {
    display: none;
}

.login-form#login .form-head .text {
    display: block;
    width: 150px;
    text-align: center;
    padding: 60px 0px;
}

.login-form#login .form-head .text::before{
    content: 'Login';
}

.login-form#login .form-action {
    right: 100px;
    background: none;
    line-height: 65px;
}

.login-form#login .form-action .icon-action.back {
    rotate: 0;
}

.login-form#send {
    color: #fff;
}

.login-form#send .form-head {
    width: 100%;
    background: #007bff;
}

.login-form#send .form-head .icon-placeholder {
    display: none;
}

.login-form#send .form-head .text {
    display: block;
    text-align: center;
    padding: 20px 0px;
}

.login-form#send .form-head .text:before{
    content: 'Send';
}

.login-form#send .form-action {
    right: 90px;
    background: none;
    line-height: 65px;
}
.login-form#send .form-action .icon-action.back {
    rotate: 0;
}

.login-form#send .form-action .icon-action::after {
    display: none;
    content: '';
}

.login-form#success {
    color: #fff;
}

.login-form#success .form-head {
    width: 100%;
    background: #00E676;
}

.login-form#success .form-head .icon-placeholder {
    display: none;
}

.login-form#success .form-head .text {
    display: block;
    text-align: center;
    padding: 20px 0px;
}

.login-form#success .form-head .text:before{
    content: 'Success';
}

.login-form#success .form-action {
    right: 90px;
    background: none;
    line-height: 65px;
}
.login-form#success .form-action .icon-action.back {
    rotate: 0;
}

.login-form#success .form-action .icon-action::after {
    display: none;
    content: '';
}

.login-form#name {
    color: #9C27B0;
}

.login-form#name .form-head {
    background: #9C27B0;
}

.login-form#name .form-head .icon-placeholder::after{
    content: 'fullname';
}

/*
.login-form#phone {
    color: #009688;
}

.login-form#phone .form-head {
    background: #009688;
}

.login-form#phone .form-head .icon-placeholder::after{
    content: 'phone';
}

.login-form#phone .form-body .form-controls {
    top: -70px;
}

.login-form#email {
    color: #039BE5;
}

.login-form#email .form-head {
    background: #039BE5;
}

.login-form#email .form-head .icon-placeholder::after {
    content: 'email';
}

.login-form#email .form-body .form-controls {
    top: -140px;
}
*/
.login-form#password {
    color: #37474F;
}

.login-form#password .form-head {
    background: #37474F;
}
.login-form#password .form-head .icon-placeholder::after {
    content: 'password';
}

.login-form#password .form-body .form-controls {
    top: -70px;
}
/*
.login-form#password-repeat {
    color: #212121;
}

.login-form#password-repeat .form-head {
    background: #212121;
}

.login-form#password-repeat .form-head .icon-placeholder::after{
    content: 'again';
}

.login-form#password-repeat .form-body .form-controls {
    top: -280px;
}
*/
.login-form.error .form-head {
    background: #b71c1c !important;
}

.login-form.error .form-head .icon-placeholder::after {
    content: 'close' !important;
}

.login-form.error .form-body .form-controls input[type="text"]:-moz-placeholder {
    color: #b71c1c;
    font-style: italic;
}

.login-form.error .form-body .form-controls input[type="text"]::-moz-placeholder {
    color: #b71c1c;
    font-style: italic;
}

.login-form.error .form-body .form-controls input[type="text"]:-ms-input-placeholder {
    color: #bfbfbf;
    font-style: italic;
}

.login-form.error .form-body .form-controls input[type="text"]::-webkit-input-placeholder {
    color: #b71c1c;
    font-style: italic;
}